@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: Roboto, Lato !important;
  font-size: large;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  height: 43px;
}

.navbar-brand {
  font-size: 27px;
  padding-left: 10px;
  font-family: "Lato";
}
.nav-item a {
  color: gray !important;
  font-size: 16px;
  padding: 0 10px;
  font-weight: 600;
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
li.nav-item {
  padding: 0 10px;
}

.signin-image {
  height: 390px;
  border: 25px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}

textarea:focus,
input:focus {
  outline: none !important;
}
.cursor-pointer {
  cursor: pointer;
}
.jumbotron {
  background-color: white;
}
